* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 6rem;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 5rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.title {
    margin: 0;
}

.top {
    margin-top: 2rem;
}

h2 {
    font-size: 5rem;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

h3 {
    font-size: 2rem;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.subtitle {
    color: #3b3b3b;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    font-family: "Roboto", serif;
    font-weight: 400;
}

footer {
    font-size: 1rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 60%;
}

a {
    text-decoration: none;
}

.tag-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.social-tag {
    background-color: aliceblue;
    height: 2rem;
    border-radius: 1rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-right: 1rem;
}

.social-tag p {
    font-size: 1rem;
    color: black;
    margin: 0 0.5rem;
}

.fa {
    font-size: 1.5rem;
    color: white;
}

.social-icon {
    transition: 0.3s;
}

.social-icon.github {
    box-shadow: 0px 0px 0px 0.2rem #212121 inset;
}

.social-icon.github:hover {
    box-shadow: 0px 0px 0px 0.2rem #212121 inset,
        0.2rem 0.2rem 0.2rem rgb(163, 163, 163);
}

.social-icon.linkedin {
    box-shadow: 0px 0px 0px 0.2rem #0077b5 inset;
}

.social-icon.linkedin:hover {
    box-shadow: 0px 0px 0px 0.2rem #0077b5 inset,
        0.2rem 0.2rem 0.2rem rgb(163, 163, 163);
}

.social-icon.instagram {
    box-shadow: 0px 0px 0px 0.2rem #d62976 inset;
}

.social-icon.instagram:hover {
    box-shadow: 0px 0px 0px 0.2rem #d62976 inset,
        0.2rem 0.2rem 0.2rem rgb(163, 163, 163);
}

.icon-inner {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#github-inner {
    background-color: #212121;
}

#linkedin-inner {
    background-color: #0077b5;
}

#instagram-inner {
    background-image: linear-gradient(to right, #fa7e1e, #d62976);
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#projects a {
    width: 49%;
}

.project-card {
    transition: 0.3s;
    background-color: aliceblue;
    border-radius: 2rem;
    margin-top: 1rem;
    height: 15rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-1 {
    background-color: #000435;
}

.project-card:hover {
    transition: 0.3s;
    box-shadow: 0.2rem 0.2rem 0.4rem rgb(75, 75, 75);
    cursor: pointer;
}

.project-card img {
    object-fit: cover;
    border-radius: 2rem;
    width: 100%;
    height: 100%;

    filter: saturate(70%) brightness(50%);
    position: absolute;
}

.project-card h3 {
    font-size: 2rem;
    font-family: "Roboto", serif;
    font-weight: 700;

    color: white;
    z-index: 1;
}

.project-card p {
    font-size: 1rem;
    font-family: "Roboto", serif;
    font-weight: 400;

    color: white;
    z-index: 1;
}

.project-tech {
    display: flex;
    flex-direction: row;
}

.tech-tag {
    transition: 0.3s;
    text-decoration: none;
    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 0.4rem;

    font-size: 1rem;
    font-family: "Roboto", serif;
    font-weight: 700;
}

.tech-tag:hover {
    transition: 0.1s;
    box-shadow: 0.2rem 0.2rem 0.4rem rgb(31, 31, 31);
    margin-top: 0.3rem;
}

.html {
    background-image: linear-gradient(to right, #ff882d, #ff6f00);
    color: rgb(255, 255, 255);
}

.css {
    background-image: linear-gradient(to right, #79006f, #600079);
    color: white;
}

.jquery {
    background-image: linear-gradient(to right, rgb(255, 251, 0), #ffd000);
    color: black;
}
